<div class="jumbotron">
  <div class="text-center">
    <h1>Timesend - an application that saves your time</h1>
    <p>Manage your posts</p>
    <p>Send whenever you like</p>
  </div>
  <hr>
  <div class="text-center">
    <%= link_to "Registration", new_user_registration_path, class: "btn btn-default btn-lg" %>
  </div>
</div>
